{% extends 'user/base.html' %} 
{% load static %} 
{% block title %}Dessert{% endblock title %} 

{% block content %}

   <style type="text/css"></style>

   <div class="main">
   <!--cards -->

   <div class="card">
      <div class="image">
         <img src="{% static 'user/images/miniredvelvetcake.jpeg'%}" height="300" width="200" />
      </div>
      <div class="title">
         <h1>Mini Red Velvet Cake</h1>
      </div>
      <div class="des">
         <p>
         Red velvet is a term used to describe a type of cake (or cupcake) with a
         deep red to burgundy color. The flavor is easy to remember, yet harder
         to describe. The simplest explanation is that it tastes like a mashup of
         chocolate and vanilla cake.
         </p>
         <span class="fa fa-star checked"></span>
         <span class="fa fa-star checked"></span>
         <span class="fa fa-star checked"></span>
         <span class="fa fa-star"></span>
         <span class="fa fa-star"></span><br />
         <h3>
         <p style="text-align: center"><b>150 Rs.</b></p>
         </h3>
         <br />
         <a href="order.html">
         <button>Order</button>
         </a>
      </div>
   </div>
   <!--cards -->

   <div class="card">
      <div class="image">
         <img src="{% static 'user/images/Gulabjamun rifle.jpeg'%}" height="300" width="200" />
      </div>
      <div class="title">
         <h1>GulabJamun Rifle</h1>
      </div>
      <div class="des">
         <p>
         Gulab jamun is an Indian dessert of fried dough balls that are soaked in
         a sweet, sticky sugar syrup. As per tradition, the syrup has a delicate
         rose flavour: Gulab means 'rose water' and jamun refers to a berry of a
         similar size and colour.
         </p>
         <span class="fa fa-star checked"></span>
         <span class="fa fa-star checked"></span>
         <span class="fa fa-star checked"></span>
         <span class="fa fa-star"></span>
         <span class="fa fa-star"></span><br />
         <h3>
         <p style="text-align: center"><b>100 Rs.</b></p>
         </h3>
         <br />
         <a href="order.html">
         <button>Order</button>
         </a>
      </div>
   </div>
   <!--cards -->

   <div class="card">
      <div class="image">
         <img src="{% static 'user/images/cheesecake jars.jpeg'%}" height="300" width="200" />
      </div>
      <div class="title">
         <h1>Cheesecake Jars</h1>
      </div>
      <div class="des">
         <p>
         No-Bake Motichoor Ladoo Cheesecake Jars with layers of cheesecake,
         crushed boondi ladoo and a parle-g crust! Garnished with nuts and edible
         silver leaves, these no-bake cheesecake jars make a stunning Diwali
         dessert.It looks so attractive
         </p>
         <span class="fa fa-star checked"></span>
         <span class="fa fa-star checked"></span>
         <span class="fa fa-star checked"></span>
         <span class="fa fa-star"></span>
         <span class="fa fa-star"></span><br />
         <h3>
         <p style="text-align: center"><b>200 Rs.</b></p>
         </h3>
         <br />
         <a href="order.html">
         <button>Order</button>
         </a>
      </div>
   </div>
   <!--cards -->

   <div class="card">
      <div class="image">
         <img src="{% static 'user/images/Rasmalai.jpeg'%}" height="300" width="200" />
      </div>
      <div class="title">
         <h1>Rasmalai</h1>
      </div>
      <div class="des">
         <p>
         Rasmalai is basically a creamy and milky syrup that consist of Chenna.
         The syrup is purely made from milk, sugar, cream and saffron mixture. It
         consist rich milk cream flavoured with saffron, cardamom, rose water and
         pistachio.
         </p>
         <span class="fa fa-star checked"></span>
         <span class="fa fa-star checked"></span>
         <span class="fa fa-star checked"></span>
         <span class="fa fa-star"></span>
         <span class="fa fa-star"></span><br />
         <h3>
         <p style="text-align: center"><b>150 Rs.</b></p>
         </h3>
         <br />
         <a href="order.html">
         <button>Order</button>
         </a>
      </div>
   </div>
   <!--cards -->

   <div class="card">
      <div class="image">
         <img src="{% static 'user/images/Rasgulla.jpeg'%}" height="300" width="200" />
      </div>
      <div class="title">
         <h1>Rasgulla</h1>
      </div>
      <div class="des">
         <p>
         Rasgulla is a South Asian syrupy dessert popular in the Indian
         subcontinent and regions with South Asian diaspora. It is made from
         ball-shaped dumplings of chhena
         </p>
         <br />
         <span class="fa fa-star checked"></span>
         <span class="fa fa-star checked"></span>
         <span class="fa fa-star checked"></span>
         <span class="fa fa-star"></span>
         <span class="fa fa-star"></span><br />
         <h3>
         <p style="text-align: center"><b>100 Rs.</b></p>
         </h3>
         <br />
         <a href="order.html">
         <button>Order</button>
         </a>
      </div>
   </div>

   <div class="card">
      <div class="image">
         <img src="{% static 'user/images/Falooda.jpeg'%}" height="300" width="200" />
      </div>
      <div class="title">
         <h1>Falooda</h1>
      </div>
      <div class="des">
         <p>
         It is a felicitous coupling of silky vermicelli noodles with ice cream
         and /or crushed ice, slithery black basil seeds all of which is steeped
         in a colourful bath of a rose flavour
         </p>
         <br />
         <span class="fa fa-star checked"></span>
         <span class="fa fa-star checked"></span>
         <span class="fa fa-star checked"></span>
         <span class="fa fa-star"></span>
         <span class="fa fa-star"></span><br />
         <h3>
         <p style="text-align: center"><b>150 Rs.</b></p>
         </h3>
         <br />
         <a href="order.html">
         <button>Order</button>
         </a>
      </div>
   </div>

   <!--cards -->

   <div class="card">
      <div class="image">
         <img
         src="{% static 'user/images/Saffron mango matka kulfi.jpeg'%}"
         height="300"
         width="200"
         />
      </div>
      <div class="title">
         <h1>Saffron Mango Matka Kulfi</h1>
      </div>
      <div class="des">
         <p>
         Kulfi very famous Indian dessert made by freezing milk which is
         concentrated by boiling milk to remove all water if in it .and flavoured
         with dry nuts and cardamom..
         </p>
         <span class="fa fa-star checked"></span>
         <span class="fa fa-star checked"></span>
         <span class="fa fa-star checked"></span>
         <span class="fa fa-star"></span>
         <span class="fa fa-star"></span><br />
         <h3>
         <p style="text-align: center"><b>200 Rs.</b></p>
         </h3>
         <br />
         <a href="order.html">
         <button>Order</button>
         </a>
      </div>
   </div>
   <!--cards -->

   <!--cards -->

   <div class="card">
      <div class="image">
         <img src="{% static 'user/images/Apple Khoya Kheer.jpeg'%}" height="300" width="200" />
      </div>
      <div class="title">
         <h1>Apple Khoya Kheer</h1>
      </div>
      <div class="des">
         <p>
         An extended version of the traditional milk-based kheer recipe with
         cooked grated apple. apple kheer dessert is known for its creamy and
         mouth dissolving texture. It is a premium kheer.
         </p>
         <br />
         <span class="fa fa-star checked"></span>
         <span class="fa fa-star checked"></span>
         <span class="fa fa-star checked"></span>
         <span class="fa fa-star"></span>
         <span class="fa fa-star"></span><br />
         <h3>
         <p style="text-align: center"><b>150 Rs.</b></p>
         </h3>
         <br />
         <a href="order.html">
         <button>Order</button>
         </a>
      </div>
   </div>
   <!--cards -->
   <!--cards -->

   <div class="card">
      <div class="image">
         <img src="{% static 'user/images/choclatechipcookies.jpeg'%}" height="300" width="200" />
      </div>
      <div class="title">
         <h1>Ice Cream Sandwich</h1>
      </div>
      <div class="des">
         <p>
         An ice cream sandwich is a frozen dessert consisting of ice cream
         between two biscuits, skins, wafers, or cookies.
         </p>
         <br />
         <span class="fa fa-star checked"></span>
         <span class="fa fa-star checked"></span>
         <span class="fa fa-star checked"></span>
         <span class="fa fa-star"></span>
         <span class="fa fa-star"></span><br />
         <h3>
         <p style="text-align: center"><b>200 Rs.</b></p>
         </h3>
         <br />
         <a href="order.html">
         <button>Order</button>
         </a>
      </div>
   </div>
   <!--cards -->
   </div>
{% endblock content %}
