{% extends 'user/base.html' %}
{% load static %}

<style>
.container
    {
    position: relative;
    z-index:1 ;
    direction: flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    margin: 40px 0;
    }
    .container .card{
        position: relative;
        width: 300px;
        height: 400px;
        background:rgba(255,255,255,0.05);
        margin:20px;
        box-shadow: 0 15px 35px rgba(0,0,0,0.2);
        border-radius: 15px;
        display: flex;
        justify-content:center ;
        align-items: center;
        backdrop-filter:blur(10px);
    }
    .container .card .content{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        opacity: 0.5;
        transition: 0.5%;
    }
    .container .card .content{
        opacity: 1;
      
    }
    .container .card:hover .content{
        position:relative;
        width: 150px;
        height: 150px;
        border-radius:50px;
        overflow: hidden;
        border:10px solid rgba(0,0,0,0.25);

    }
.container .card .content .imgBx img{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    object-fit:  cover;

}
.container .card .content .contentBx h3{
    color: #fff;
    text-transform:uppercase;
    letter: spacing 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 10px;
    line: height 1.1em;
}
</style>
{% block title %}Home{% endblock title %}
  
  
{% block content %}
        <br><br>
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="{% static 'user/images/slider 11.png' %}" class="d-block w-100" alt="..." >
            </div>
        </div><br><br>



        <hr>





        <h3><p style="text-align: center;color:white; "> <b>OUR TOP FOOD ITEMS</b> </p></h3>
        <title>STARTER</title>
        <link rel="stylesheet" href="style.css">
        
        
       
       
           <style type="text/css"></style>
       
         <section>
           <div class="main">
           
            <!--cards -->
           
           <div class="card">
           
           <div class="image">
              <img src="{% static 'user/images/Peanut masala.jpeg' %}" height="300" width="200">
           </div>
           <div class="title" style="background: black;">
            <h1>
           <b>Peanut Masala</b></h1>
           </div>
           <div class="des">
            <p> Peanut masala recipe is one such recipe which is a popular tea time snack common across many cuisines...</p>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star  checked"></span>
            <span class="fa fa-star checked"></span><br>
            <h3><p style="text-align: center"> <b>50 Rs.</b> </p></h3><br>
            <a href="order.html">
            
           
            <button>Order</button>
            </a>
           
           </div>
           </div>
           <!--cards -->
           
           
           <div class="card">
           
           <div class="image">
              <img src="{% static 'user/images/palak tikki.jpeg'%} "  height="300" width="200">
           </div>
           <div class="title"  style="background: black;">
            <h1>
          Palak Tikki</h1>
           </div>
           <div class="des">
            <p>A delectable evening snack, that is tasty and healthy and an easy way to make the kids eat spinach and corn if they do not like it.</p>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span><br>
            <h3><p style="text-align: center"> <b>65 Rs.</b> </p></h3><br>
            <a href="order.html">
            
           <button>Order</button>
           </a>
           
           </div>
           </div>
           <!--cards -->
           
           
           <div class="card" height="400" width="400">
           
           <div class="image">
              <img src="{% static 'user/images/chilli prawns.jpeg'%}" height="300" width="200">
           </div>
           <div class="title"  style="background: black";>
            <h1>
           Chilli Prawns</h1>
           </div>
           <div class="des">
            <p> A sizzling combination of sautéed prawns, asian sauces, and fresh greens onions, crispy Dry Chilli Prawns are very appetizing</p>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span><br>
            <h3><p style="text-align: center"> <b>175 Rs.</b> </p></h3><br>
          
            <a href="order.html">
           
            <button>Order</button>
            </a>
          
           </div>
           </div>
           <!--cards -->
           
           
           <div class="card" height="400" width="500">
           
           <div class="image">
              <img src="{% static 'user/images/chilli fish.jpeg'%}" height="300" width="200">
           </div>
           <div class="title"  style="background: black";>
            <h1>
           Chilli Fish</h1>
           </div>
           <div class="des">
            <p>A delicious, tangy Indo-fusion dish, Chilli Fish is everything an appetizer. It is crunchy, tasty, filling and full of aromatic flavours<p>
           
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span><br>
            <h3><p style="text-align: center"> <b>180 Rs.</b> </p></h3><br>
            <a href="order.html">
            
            <button>Order</button>
            </a>
           
           </div>
           </div>
           <!--cards -->
           
           
           <div class="card">
           
           <div class="image">
              <img src="{% static 'user/images/Prawns masala fry.jpeg'%}" height="300" width="200">
           </div>
           <div class="title"  style="background: black";>
            <h1>
           Prawns Masala Fry</h1>
           </div>
           <div class="des">
            <p>
              Prawn Masala Fry is a quick and easy recipe that is delicious, aromatic and spicy. </p>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span><br>
             <h3><p style="text-align: center"> <b>100 Rs.</b> </p></h3><br>
          
             <a href="order.html">
           
             <button>Order</button>
             </a>
            
           </div>
           </div>
           <!--cards -->
           
           <div class="card">
           
           <div class="image">
              <img src="{% static 'user/images/Paneer Makhanwala.jpeg'%}" height="300" width="200">
           </div>
           <div class="title"  style="background: black";>
            <h1>
          Paneer Makhanwala</h1>
           </div>
           <div class="des">
            <p>Cottage cheese in a buttery, creamy, tangy and mildly sweet sauce.It is very tasty and attractive dish</p>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span><br>
            <h3><p style="text-align: center"> <b>75 Rs.</b> </p></h3><br>
          
            <a href="order.html">
          
            <button>Order</button>
            </a>
           
           </div>
           </div>
           <!--cards -->
           
           <div class="card">
           
           <div class="image">
              <img src="{% static 'user/images/fish tikka.jpeg'%}" height="300" width="200">
           </div>
           <div class="title"  style="background: black";>
            <h1>
          Fish Tikka</h1>
           </div>
           <div class="des">
            <p>It is a very popular recipe for all fish lovers. It is based on marination and then baked , roast or shallow fry</p>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span><br>
            <h3><p style="text-align: center"> <b>160 Rs.</b> </p></h3><br>
          
            <a href="order.html">
           
            <button>Order</button>

            </a>
           
           </div>
           </div>
           <!--cards -->
           
           
           <div class="card">
           
           <div class="image">
              <img src="{% static 'user/images/Chicken Masala.jpeg' %}" height="300" width="200">
           </div>
           <div class="title"  style="background: black";>
            <h1>
           Chicken Masala</h1>
           </div>
           <div class="des">
            <p>Chicken Masala is a fry is a non-vegetarian recipe hugely popular in Punjab region of North India.</p>
           
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span><br>
            <h3><p style="text-align: center"> <b>125 Rs.</b> </p></h3><br>
          
           <a href="order.html">
           
            <button>Order</button>
            </a>
          
           </div>
           </div>
           <!--cards -->


            <!--cards -->
           
            <div class="card">
           
              <div class="image">
                 <img src="{% static 'user/images/Egg Biryani.jpeg'%}" height="300" width="200">
              </div>
              <div class="title"  style="background: black";>
               <h1>
             Egg Biryani</h1>
              </div>
              <div class="des">
               <p>The fresh and pungent marinade lends an unmistakable character to the otherwise humble boiled eggs and makes this dish one of the  tasteful meals.</p>
               <span class="fa fa-star checked"></span>
               <span class="fa fa-star checked"></span>
               <span class="fa fa-star checked"></span>
               <span class="fa fa-star checked"></span>
               <span class="fa fa-star checked"></span><br>
               <h3><p style="text-align: center"> <b>250 Rs.</b> </p></h3><br>
            
               <a href="order.html">
              
               <button>Order</button>
               </a>
              
             
  
              
              </div>
              </div>
              <!--cards -->

               <!--cards -->
           
           <div class="card">
           
            <div class="image">
               <img src="{% static 'user/images/Paneer Tikka Biryani.jpeg'%} " height="300" width="200">
            </div>
            <div class="title"  style="background: black";>
             <h1>
            Paneer Tikka Biryani</h1>
            </div>
            <div class="des">
             <p>An easy and simple dum style cooked biriyani recipe made with marinated paneer cubes and long grain rice. It is an ideal vegetarian biryani..</p>
             <span class="fa fa-star checked"></span>
               <span class="fa fa-star checked"></span>
               <span class="fa fa-star checked"></span>
               <span class="fa fa-star checked"></span>
               <span class="fa fa-star checked"></span><br>
               <h3><p style="text-align: center"> <b>170 Rs.</b> </p></h3><br>
            
          
             <a href="order.html">
           
             <button>Order</button>
             </a>
           
            </div>
            </div>
            <!--cards -->

             <!--cards -->
           
           <div class="card">
           
            <div class="image">
               <img src="{% static 'user/images/Amritsari Kulcha.jpeg'%}" height="300" width="200">
            </div>
            <div class="title"  style="background: black";>
             <h1>
            Amritsari Kulcha</h1>
            </div>
            <div class="des">
             <p>  Amritsari Kulcha is a popular naan bread recipe which is perfect to pair with some delicious Chole. A crisp Punjabi delight, stuffed kulchas are the Indian bread </p>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span><br>
             <h3><p style="text-align: center"> <b>100 Rs.</b> </p></h3><br>
          
          
             <a href="order.html">
            
             <button>Order</button>
             </a>
            
            
            </div>
            </div>
            <!--cards -->

             <!--cards -->
           
           <div class="card">
           
            <div class="image">
               <img src="{% static 'user/images/Fish fry Pomfret.jpeg'%}" height="300" width="200">
            </div>
            <div class="title"  style="background: black";>
             <h1>
           Fish Fry Pomfret</h1>
            </div>
            <div class="des">
             <p >  This Mangalorean Style Rava Pomfret Fish Fry is coastal India’s claim to fame. Its a crunchy fried fish recipe but there is so much more to it than what meets the eye!</p>
        
             <span class="fa fa-star checked"></span>
               <span class="fa fa-star checked"></span>
               <span class="fa fa-star checked"></span>
               <span class="fa fa-star checked"></span>
               <span class="fa fa-star checked"></span><br>
               <h3><p style="text-align: center"> <b>250 Rs.</b> </p></h3><br>
            
          <a href="order.html">
             
             <button>Order</button>
             </a>
             
             
             </section>
             <div class="select"></div>
             </div>
            
            
            </div>
            </div>
            <!--cards -->
       
{% endblock content %}

