{% extends 'user/base.html' %}
{% load static %}


{% block title %}{% endblock title %}
  
  
{% block content %}
       
    <style type="text/css"></style>

    <div class="main">
    
     <!--cards -->
    
    <div class="card">
    
    <div class="image">
       <img src="{% static 'user/images/Mutton Masala.jpeg'%}" height="300" width="200">
    </div>
    <div class="title">
     <h1>
        Mutton Masala </h1>
    </div>
    <div class="des">
     <p>Mutton Masala Recipe is a mouth-watering and a masaledaar mutton masala curry recipe which is again made with red meat/mutton. Hyderabad is a region that is famous for many non-veg recipes apart from biryani recipes and mutton recipes</p>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star  checked"></span>
     <span class="fa fa-star "></span><br>
     <h3><p style="text-align: center"> <b>170 Rs.</b> </p></h3><br>
     <a href="order.html">
    <button>Order</button>
    </a>
    </div>
    </div>
    <!--cards -->
    
    
    <div class="card">
    
    <div class="image">
       <img src="{% static 'user/images/Mutton Masala Fry.jpeg'%}" height="300" width="200">
    </div>
    <div class="title">
     <h1>
        Mutton Masala Fry</h1>
    </div>
    <div class="des">
     <p>Mutton Fry is an authentic Indian recipe, which tastes best when served with Biryani, Jeera Rice,Pulao, and can also be relished with Naan, Roti, Paratha to name a few. This dry mutton recipe goes well with almost everything </p>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star  checked"></span>
     <span class="fa fa-star "></span><br>
     <h3><p style="text-align: center"> <b>175 Rs.</b> </p></h3><br>
     <a href="order.html">
    <button>Order</button>
    </a>
    </div>
    </div>
    <!--cards -->
    
    
    <div class="card">
    
    <div class="image">
       <img src="{% static 'user/images/Mutton Grsvy.jpeg'%}" height="300" width="200">
    </div>
    <div class="title">
     <h1>
        Mutton Gravy</h1>
    </div>
    <div class="des">
     <p>A mix of sautéed onions, tomatoes, garlic, and onion is puréed to make a flavorful sauce with a perfect balance of savory, aromatic spices. Dried spices add an unbeatable depth of flavor as the ingredients simmer together.</p>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star  checked"></span>
     <span class="fa fa-star checked"></span><br>
     <h3><p style="text-align: center"> <b>175 Rs.</b> </p></h3><br>
     <a href="order.html">
    <button>Order</button>
    </a>
    </div>
    </div>
    <!--cards -->
    
    
    <div class="card">
    
    <div class="image">
       <img src="{% static 'user/images/Mutton kadai.jpeg'%}" height="300" width="200">
    </div>
    <div class="title">
     <h1>
        Mutton Kadai</h1>
    </div>
    <div class="des">
     <p> 
      It is traditionally cooked in a wok or kadai. This rich mutton curry recipe is made by slow cooking lamb pieces with tomatoes, onion, garlic and garam masala. Full of flavour, this recipe is sure to be the highlight of your dinner party or family lunch.</p>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star  checked"></span>
      <span class="fa fa-star "></span><br>
      <h3><p style="text-align: center"> <b>180 Rs.</b> </p></h3><br>
      <a href="order.html">
     <button>Order</button>
     </a>
    </div>
    </div>
    <!--cards -->
    
    
    <div class="card">
    
    <div class="image">
       <img src="{% static 'user/images/Mutton Kolhapuri.jpeg'%}" height="300" width="200">
    </div>
    <div class="title">
     <h1>
        Mutton Kolhapuri</h1>
    </div>
    <div class="des">
     <p>
      Kolhapuri dishes are well known for being spicy and for their wonderful aroma. Their spice blends are softer and more fragrant than garam masala and – once you have a jar – you don’t really need a lot of other spices to make Kolhapuri mutton curry..</p>
      <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star  checked"></span>
     <span class="fa fa-star checked"></span><br>
     <h3><p style="text-align: center"> <b>175 Rs.</b> </p></h3><br>
     <a href="order.html">
    <button>Order</button>
    </a>
    </div>
    </div>
    
    
    <div class="card">
    
    <div class="image">
       <img src="{% static 'user/images/Mutton Kurma.jpeg'%}" height="300" width="200">
    </div>
    <div class="title">
     <h1>
        Mutton Kurma</h1>
    </div>
    <div class="des">
     <p>Classically, a kurma is defined as a dish where meat or vegetables are braised with yogurt, cream or stock. ... The flavour of a korma is based on a mixture of spices, including ground coriander and cumin, combined with yogurt</p>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star  checked"></span>
     <span class="fa fa-star checked"></span><br>
     <h3><p style="text-align: center"> <b>180 Rs.</b> </p></h3><br>
     <a href="order.html">
    <button>Order</button>
    </a>
    </div>
    </div>
    
        
   
    <!--cards -->
    
    
    <div class="card">
    
    <div class="image">
       <img src="{% static 'user/images/Mutton Biryani.jpeg'%}" height="300" width="200">
    </div>
    <div class="title">
     <h1>
        Mutton Biryani</h1>
    </div>
    <div class="des">
     <p> A hearty mutton biryani that will amaze your guests! Biryani is a dish that nobody can ever resist. Be it a dinner party or any celebratory occasion, biryani seems to be an ideal main dish to serve along with a spicy salan or refreshing raita.</p>
     <a href="muttonbiryani.html">
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star  checked"></span>
      <span class="fa fa-star checked"></span><br>
      <h3><p style="text-align: center"></span> <b>275 Rs.</b> </p></h3><br>
      <a href="order.html">
     <button>Order</button>
     </a>
     </a>
    </div>
    </div>
  </div>
    
    <!--cards -->
{% endblock content %}
   
    
    
      
    
    
    
     
    
    
  
    
    
   
    
    
   
      
      
      
  
  
  
  
  
  

    