{% extends 'user/base.html' %}
{% load static %}


{% block title %}{% endblock title %}
  
  
{% block content %}
       
    <style type="text/css"></style>

    <div class="main">
    
     <!--cards -->
    
    <div class="card">
    
    <div class="image">
       <img src="image/egg spring roll.jpeg" height="300" width="200">
    </div>
    <div class="title">
     <h1>
    Egg Spring Roll</h1>
    </div>
    <div class="des">
     <p>
       Egg rolls are wrapped in a thicker, noticeably crispier wrapper that's been dipped in egg for richness. Preparation. Egg rolls are fried, which accounts for their bubbly, crispy exteriors </p><br>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star  "></span>
     <span class="fa fa-star "></span><br>
     <h3><p style="text-align: center"> <b>75 Rs.</b> </p></h3><br>
     <a href="order.html">
    <button>Order</button>
    </a>
    </div>
    </div>
    <!--cards -->
    
    
    <div class="card">
    
    <div class="image">
       <img src="image/chicken spring roll.jpeg" height="300" width="200">
    </div>
    <div class="title">
     <h1>
    Chicken Spring Roll</h1>
    </div>
    <div class="des">
     <p>Chicken Spring Rolls is a popular Chinese cuisine recipe that is equally popular in India. Made with minced chicken and fresh noodles, this easy snack recipe can be served with cold beverages.</p><br>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star  checked"></span>
     <span class="fa fa-star "></span><br>
     <h3><p style="text-align: center"> <b>100 Rs.</b> </p></h3><br>
     <a href="order.html">
    <button>Order</button>
    </a>
    </div>
    </div>
    <!--cards -->
    
    
    <div class="card">
    
    <div class="image">
       <img src="image/chicken 65.jpeg" height="300" width="200">
    </div>
    <div class="title">
     <h1>
    Chicken 65</h1>
    </div>
    <div class="des">
     <p>It is a spicy, deep-fried chicken dish originating from Hotel Buhari, Chennai, India, as an entrée, or quick snack. The flavour of the dish can be attributed to red chillies, but the exact set of ingredients for the recipe can vary. </p><br>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star  checked"></span>
     <span class="fa fa-star "></span><br>
     <h3><p style="text-align: center"> <b>150 Rs.</b> </p></h3><br>
     <a href="order.html">
    <button>Order</button>
    </a>
    </div>
    </div>
    <!--cards -->
    
    
    <div class="card">
    
    <div class="image">
       <img src="image/chilli chicken.jpeg" height="300" width="200">
    </div>
    <div class="title">
     <h1>
    Chilli Chicken</h1>
    </div>
    <div class="des">
     <p>Chilli chicken is a popular Indo-Chinese dish of chicken of Hakka Chinese heritage. In India, this may include a variety of dry chicken preparations. Mainly boneless chicken is used in this dish</p><br>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star  checked"></span>
     <span class="fa fa-star checked"></span><br>
     <h3><p style="text-align: center"> <b>175 Rs.</b> </p></h3><br>
     <a href="order.html">
    <button>Order</button>
    </a>
    </div>
    </div>
    <!--cards -->
    
    
    <div class="card">
    
    <div class="image">
       <img src="image/chicken drum stick.jpeg" height="300" width="200">
    </div>
    <div class="title">
     <h1>
Chicken Drum Stick</h1>
    </div>
    <div class="des">
     <p>
      Due to the presence of a high amount of calcium and iron in drumsticks, they play a major role in developing strong and healthy bone structure. It also prevents the loss of bone density</p><br>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star  checked"></span>
      <span class="fa fa-star"></span><br>
      <h3><p style="text-align: center"> <b>150 Rs.</b> </p></h3><br>
      <a href="order.html">
     <button>Order</button>
     </a>
    </div>
    </div>
    <!--cards -->
    
    <div class="card">
    
    <div class="image">
       <img src="image/chicken manchurian.jpeg" height="300" width="200">
    </div>
    <div class="title">
     <h1>
   Chicken manchurian</h1>
    </div>
    <div class="des">
     <p>Chicken manchurian is a dish relished by all age groups as a starter dish at parties. Fried chicken balls cooked in a spicy sauce batter, onions and served with steamed rice</p><br>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star  checked"></span>
     <span class="fa fa-star"></span><br>
     <h3><p style="text-align: center"> <b>100 Rs.</b> </p></h3><br>
     <a href="order.html">
    <button>Order</button>
    </a>
    </div>
    </div>
    <!--cards -->
    
    <div class="card">
    
    <div class="image">
       <img src="image/pepper chicken.jpeg" height="300" width="200">
    </div>
    <div class="title">
     <h1>
    Pepper Chicken</h1>
    </div>
    <div class="des">
     <p>Hot and fragrant, Pepper Chicken requires no elaborate cooking. It uses minimal ingredients, and yet the result is just lip smacking. This fiery dish from South India is a must-try. </p><br>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star  checked"></span>
     <span class="fa fa-star checked"></span><br>
     <h3><p style="text-align: center"> <b>175 Rs.</b> </p></h3><br>
     <a href="order.html">
    <button>Order</button>
    </a>
    
    </div>
    </div>
    <!--cards -->
    
    
    <div class="card">
    
    <div class="image">
       <img src="image/chicken kurma balls.jpeg" height="300" width="200">
    </div>
    <div class="title">
     <h1>
    Chicken Kurma Balls</h1>
    </div>
    <div class="des">
     <p>Chicken kurma balls is meatballs made using ground/minced chicken that’s simmered in a saucy tomato-yogurt gravy using Indian spices+herbs.

     This recipe is from Lucknow(India) </p><br>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star  checked"></span>
     <span class="fa fa-star"></span><br>
     <h3><p style="text-align: center"> <b>100 Rs.</b> </p></h3><br>
     <a href="order.html">
    <button>Order</button>
    </a>
    </div>
    </div>
    <!--cards -->
    
    
    <div class="card">
    
    <div class="image">
       <img src="image/chilli prawns.jpeg" height="300" width="200">
    </div>
    <div class="title">
     <h1>
    Chilli Prawns</h1>
    </div>
    <div class="des">
     <p>A sizzling combination of sautéed prawns, asian sauces, and fresh greens onions, these Indian styles crispy Dry Chilli Prawns are very appetizing.</p><br>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star  checked"></span>
     <span class="fa fa-star checked"></span><br>
     <h3><p style="text-align: center"> <b>175 Rs.</b> </p></h3><br>
     <a href="order.html">
    <button>Order</button>
    </a>
    </div>
    </div>
    <!--cards -->
    
    
    <div class="card">
    
      <div class="image">
         <img src="image/ginger garlic prawns.jpeg" height="300" width="200">
      </div>
      <div class="title">
       <h1>
      Ginger Garlic Prawns</h1>
      </div>
      <div class="des">
       <p>  
         
         Ginger, garlic prawn use all fresh ingredients instead of dried, which packs them with plenty of flavour. We’ve used raw king prawns but you easily use ready-cooked prawns.</p><br>
         <span class="fa fa-star checked"></span>
         <span class="fa fa-star checked"></span>
         <span class="fa fa-star checked"></span>
         <span class="fa fa-star  checked"></span>
         <span class="fa fa-star"></span><br>
         <h3><p style="text-align: center"> <b>100 Rs.</b> </p></h3><br>
         <a href="order.html">
        <button>Order</button>
        </a>
      </div>
      </div>
      <!--cards -->
       <!--cards -->
    
    
    <div class="card">
    
      <div class="image">
         <img src="image/fish tikka.jpeg" height="300" width="200" >
      </div>
      <div class="title">
       <h1>
     Fish Tikka</h1>
      </div>
      <div class="des">
       <p>Fish Tikka is a very popular recipe for all fish lovers. This spicy fish tikka are marinated in a yoghurt based marination and then baked , roast or shallow fry till crisp golden.</p><br>
       <span class="fa fa-star checked"></span>
       <span class="fa fa-star checked"></span>
       <span class="fa fa-star checked"></span>
       <span class="fa fa-star  checked"></span>
       <span class="fa fa-star checked"></span><br>
       <h3><p style="text-align: center"> <b>160 Rs.</b> </p></h3><br>
       <a href="order.html">
      <button>Order</button>
      </a>
      </div>
      </div>
      <!--cards -->
    
       <!--cards -->
    
    
    <div class="card">
    
      <div class="image">
         <img src="image/chilli fish.jpeg" height="300" width="200">
      </div>
      <div class="title">
       <h1>
      Chilli Fish</h1>
      </div>
      <div class="des">
       <p> A delicious, tangy Indo-fusion dish, Chilli Fish is everything an appetizer or a side dish should be. It is crunchy, tasty, filling and full of aromatic flavours to have your taste buds tantalizing</p><br>
       <span class="fa fa-star checked"></span>
       <span class="fa fa-star checked"></span>
       <span class="fa fa-star checked"></span>
       <span class="fa fa-star  checked"></span>
       <span class="fa fa-star checked"></span><br>
       <h3><p style="text-align: center"> <b>180 Rs.</b> </p></h3><br>
       <a href="order.html">
      <button>Order</button>
      </a>
      </div>
      </div>
      <!--cards -->
    
  
  </div>
    </body>
{% endblock content %}

    