{% extends 'user/base.html' %}
{% load static %}


{% block title %}{% endblock title %}
  
  
{% block content %}
       
    <style type="text/css"></style>
    

    <div class="card">
    
      <div class="image">
         <img src="image/chicken hot and sour soup.jpeg" height="300" width="200">
      </div>
      <div class="title">
       <h1>
          Chicken hot and sour soup</h1>
      </div>
      <div class="des">
       <p>Hot and sour soup can warm up our bodies in winter and help to fight against cold and flu symptoms.
        Lightly cooking vegetables in hot and sour soup offer fiber , minerals and vitamins. In some version of  hot n sour soup , Shitake mushroom is used.</p>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star  checked"></span>
        <span class="fa fa-star checked"></span><br>
        <h3><p style="text-align: center"> <b>180 Rs.</b> </p></h3><br>
        <a href="order.html">
        
       
        <button>Order</button>
        </a>
      </div>
      </div>
      <!--cards -->
      
   
    
    
    
    
    <div class="card">
    
    <div class="image">
       <img src="image/chicken clear soup.jpeg" height="300" width="200">
    </div>
    <div class="title">
     <h1>
    Chicken clear soup</h1>
    </div>
    <div class="des">
     <p>   Chicken clear soup is light, healthy, delicious, and soul-soothing. It’s gluten-free and low carb too.

      Clear Soup is basically a rich flavored clear broth made using any meat, veggies, spices, herbs, and other flavorings.It is very healthy</p>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star  checked"></span>
      <span class="fa fa-star checked"></span><br>
      <h3><p style="text-align: center"> <b>150 Rs.</b> </p></h3><br>
      <a href="order.html">
      
     
      <button>Order</button>
      </a>
    </div>
    </div>
    <!--cards -->
    
    
    <div class="card">
    
    <div class="image">
       <img src="image/chicken sweet corn soup.jpeg" height="300" width="200">
    </div>
    <div class="title">
     <h1>
        Chicken sweet corn soup</h1>
    </div>
    <div class="des">
     <p>These include the use of cream style corn, chicken stock and egg drop that gives the soup its wonderful texture. The soup has a sweet-salty flavor where shredded chicken is simmered in a sesame oil toasted chicken broth and cream style corn.</p>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star  checked"></span>
     <span class="fa fa-star "></span><br>
     <h3><p style="text-align: center"> <b>140 Rs.</b> </p></h3><br>
     <a href="order.html">
     
    
     <button>Order</button>
     </a>
    </div>
    </div>
    <!--cards -->
    
    
    
    
   
    <div class="card">
    
    <div class="image">
       <img src="image/Mutton soup.jpeg" height="300" width="200">
    </div>
    <div class="title">
     <h1>
        Mutton Soup</h1>
    </div>
    <div class="des">
     <p>mutton soup made using mutton bones is a healthy soup recipe for winters with a liquid and hot texture. The healthy non-veg soup keeps the body temperature warm. This soup is good to drink in mornings, lunch as well as dinners.  </p>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star  checked"></span>
     <span class="fa fa-star checked"></span><br>
     <h3><p style="text-align: center"> <b>190 Rs.</b> </p></h3><br>
     <a href="order.html">
     
    
     <button>Order</button>
     </a>
    
    </div>
    </div>
    <!--cards -->
    <div class="card">
    
      <div class="image">
         <img src="image/chicken button mushroom soup.jpeg" height="300" width="200">
      </div>
      <div class="title">
       <h1>
          Chicken Button Mushroom Soup</h1>
      </div>
      <div class="des">
       <p>
        This is really easy to make and perfect for a starter or when you're feeling like you need a pick-me-up. You can even use leftover chicken for this which makes it even quicker to cook up.</p>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star  checked"></span>
        <span class="fa fa-star "></span><br>
        <h3><p style="text-align: center"> <b>170 Rs.</b> </p></h3><br>
        <a href="order.html">
        
       
        <button>Order</button>
        </a>
      </div>
      </div>
      <!--cards -->
    
    
      <!--cards -->
     
     <div class="card">
     
     <div class="image">
        <img src="image/tomato egg drop soup.jpeg" height="300" width="200">
     </div>
     <div class="title">
      <h1>
         Tomato Egg Drop Soup</h1>
     </div>
     <div class="des">
      <p>Tomatoes and eggs just go together, and many food cultures know it. Just think of Shakshuka in the Middle East, “Eggs in Purgatory” in Southern Italy, and another Chinese classic.</p>
      <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star  checked"></span>
             <span class="fa fa-star checked"></span><br>
             <h3><p style="text-align: center"> <b>140 Rs.</b> </p></h3><br>
             <a href="order.html">
             
            
             <button>Order</button>
             </a>
     </div>
     </div>
     <!--cards -->

  
  </div>
{% endblock content %}

    