
	
	{% extends 'user/base.html' %}
{% load static %}


{% block title %}{% endblock title %}
  
  
{% block content %}
       
			<br><br>
{% if user.is_authenticated %}
	<h3 style="color:rgb(255, 255, 255)"> ENTER ORDER DETAILS</h3>
			<form action="/action_page.php"  style="color:rgb(255, 255, 255)">
					<label for="Name">Name:</label>
					<input type="name" class="form-control" id="email">
				  </div>
				<div class="form-group">
				  <label for="email">Email address:</label>
				  <input type="email" class="form-control" id="email">
				</div>
				<div class="form-group">
				  <label for="Mobile Number">Mobile Number</label>
				  <input type="mobile number" class="form-control" id="pwd">
				</div>
				<div class="form-group">
					<label for="item name">Item Name:</label>
					<input type="item name" class="form-control" id="email">
				  </div>
				  <div class="form-group">
					<label for="quantity">Quantity:</label>
					<input type="quantity" class="form-control" id="email">
				  </div>
				  <div class="form-group">
					<label for="address">Address:</label>
					<input type="address" class="form-control" id="email">
				  </div>
				  <div class="form-group">
					<label for="address">Price:</label>
					<input type="address" class="form-control" id="email">
				  </div>
				  
				  
				
				<button type="submit" class="button" href="payment.html">Order</button>
				
			  </form>

	{% endif %}		
			
			
{% endblock content %}
		
		  
		 
		 
	
		 
	