{% extends 'user/base.html' %}
{% load static %}


{% block title %}{% endblock title %}
  
  
{% block content %}
       
    <style type="text/css"></style>

    <div class="main">
    
     <!--cards -->
    
    <div class="card">
    
    <div class="image">
       <img src="{% static 'user/images/Veg Biryani.jpeg'%}" height="300" width="200">
    </div>
    <div class="title">
     <h1>
    Veg Biryani</h1>
    </div>
    <div class="des">
     <p>Biryani, everyone is familiar with this.It is a rice preparation, where fragrant rice is cooked along with a spicy Vegetable</p>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star  "></span>
     <span class="fa fa-star "></span><br>
     <h3><p style="text-align: center"> <b>150 Rs.</b> </p></h3><br>
     <a href="order.html">
    <button>Order</button>
    </a>
    </div>
    </div>
    <!--cards -->
    
    
    <div class="card">
    
    <div class="image">
       <img src="{% static 'user/images/Paneer Pulao.jpeg'%}" height="300" width="200">
    </div>
    <div class="title">
     <h1>
    Paneer Biryani</h1>
    </div>
    <div class="des">
     <p> Paneer biryani is an easy and simple dum style cooked biriyani recipe made with marinated paneer cubes and long grain rice.</p>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star  checked"></span>
     <span class="fa fa-star"></span><br>
     <h3><p style="text-align: center"> <b>160 Rs.</b> </p></h3><br>
     <a href="order.html">
    <button>Order</button>
    </a>
    </div>
    </div>
    <!--cards -->
    
    
    <div class="card">
    
    <div class="image">
       <img src="{% static 'user/images/Paneer Tikka Biryani.jpeg'%}" height="300" width="200">
    </div>
    <div class="title">
     <h1>
      Paneer Tikka Biryani</h1>
    </div>
    <div class="des">
     <p>An easy and simple dum style cooked biriyani recipe made with marinated paneer cubes and long grain rice. it is an ideal vegetarian biryani </p>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star  checked"></span>
     <span class="fa fa-star  checked"></span><br>
     <h3><p style="text-align: center"> <b>170 Rs.</b> </p></h3><br>
     <a href="order.html">
    <button>Order</button>
    </a>
    </div>
    </div>
    <!--cards -->
    
    
    <div class="card">
    
    <div class="image">
       <img src="{% static 'user/images/Mushroom Biryani.jpeg'%}" height="300" width="200">
    </div>
    <div class="title">
     <h1>
      Mushroom Biryani</h1>
    </div>
    <div class="des">
     <p>Mushroom biryani is the classic vegetarian version of biryani with meaty mushrooms, tender fluffy rice and flavorful spices.</p>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star  checked"></span>
     <span class="fa fa-star checked"></span><br>
     <h3><p style="text-align: center"> <b>190 Rs.</b> </p></h3><br>
     <a href="order.html">
    <button>Order</button>
    </a>
    </div>
    </div>
    <!--cards -->
    
    
    <div class="card">
    
    <div class="image">
       <img src="{% static 'user/images/Curd Rice.jpeg'%}" height="300" width="200">
    </div>
    <div class="title">
     <h1>
      Curd Rice</h1>
    </div>
    <div class="des">
     <p>
      Curd rice is a popular and tasty South Indian dish that is served with a South Indian thali or meal. Curd rice is nothing but curd (yogurt) mixed with cooked rice, herbs and then tempered</p>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star "></span>
      <span class="fa fa-star "></span><br>
      <h3><p style="text-align: center"> <b>100 Rs.</b> </p></h3><br>
      <a href="order.html">
     <button>Order</button>
     </a>
    </div>
    </div>
    <!--cards -->
    
    <div class="card">
    
    <div class="image">
       <img src="{% static 'user/images/Dal Khichadi.jpeg'%}" height="300" width="200">
    </div>
    <div class="title">
     <h1>
      Dal Khichadi</h1>
    </div>
    <div class="des">
     <p>Khichdi is one of the most common dishes available throughout India.It is an amalgamation of daal (lentils), chawal (rice), ghee (clarified butter) and vegetables.</p>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star "></span>
     <span class="fa fa-star"></span><br>
     <h3><p style="text-align: center"> <b>120 Rs.</b> </p></h3><br>
     <a href="order.html">
    <button>Order</button>
    </a>
    </div>
    </div>
    <!--cards -->
    
    <div class="card">
    
    <div class="image">
       <img src="{% static 'user/images/Jeera rice.jpeg'%}" height="300" width="200">
    </div>
    <div class="title">
     <h1>
      Jeera rice</h1>
    </div>
    <div class="des">
     <p> Jeera rice is an Indian dish consisting of rice and cumin seeds. "Zeera" is the Hindi word for cumin seeds The ingredients used are rice, cumin seeds, vegetable oil, onions, and coriander leaves. </p>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star  checked"></span>
     <span class="fa fa-star checked"></span><br>
     <h3><p style="text-align: center"> <b>100 Rs.</b> </p></h3><br>
     <a href="order.html">
    <button>Order</button>
    </a>
    
    </div>
    </div>
    <!--cards -->
    
    
    <div class="card">
    
    <div class="image">
       <img src="{% static 'user/images/Veg Kashmiri Biryani.jpeg'%}" height="300" width="200">
    </div>
    <div class="title">
     <h1>
      Veg Kashmiri Biryani</h1>
    </div>
    <div class="des">
     <p>In this Kashmiri biryani recipe‘hing’ or asafoetida plays an important role in substituting the flavor of onions and garlic. Also the fried dry fruits mainly raisins add sweetness to the dish.</p>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star  checked"></span>
     <span class="fa fa-star checked"></span><br>
     <h3><p style="text-align: center"> <b>200 Rs.</b> </p></h3><br>
     <a href="order.html">
    <button>Order</button>
    </a>
    </div>
    </div>
    <!--cards -->
    
    
    <div class="card">
    
    <div class="image">
       <img src="{% static 'user/images/Veg Fried Rice.jpeg'%}" height="300" width="200">
    </div>
    <div class="title">
     <h1>
      Veg Fried Rice</h1>
    </div>
    <div class="des">
     <p>Carrots, onions, green onions and peas: This is the base mix of veggies that I always use for fried rice, but feel free to add in other stir-fry veggies you love </p>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star  checked"></span>
     <span class="fa fa-star "></span><br>
     <h3><p style="text-align: center"> <b>175 Rs.</b> </p></h3><br>
     <a href="order.html">
    <button>Order</button>
    </a>

     <button>Order</button>
    </div>
    </div>
    <!--cards -->
    

  </div>
{% endblock content %}
