{% extends 'user/base.html' %}
{% load static %}


{% block title %}{% endblock title %}
  
  
{% block content %}
       
    <style type="text/css"></style>

    <div class="main">
    
     <!--cards -->
    
    <div class="card">
    
    <div class="image">
       <img src="{% static 'user/images/Tandoori Roti.jpeg'%}" height="300" width="200">
    </div>
    <div class="title">
     <h1>
    Tandoori Roti</h1>
    </div>
    <div class="des">
     <p>It is made of whole wheat flour, which is packed with fibre and keeping you full for a longer time.</p><br>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star  checked"></span>
     <span class="fa fa-star checked"></span><br>
     <h3><p style="text-align: center"> <b>10 Rs.</b> </p></h3><br>
     <a href="order.html">
    <button>Order</button>
    </a>
    </div>
    </div>
    <!--cards -->
    
    
    <div class="card">
    
    <div class="image">
       <img src="{% static 'user/images/chapati.jpg'%}" height="300" width="200">
    </div>
    <div class="title">
     <h1>
    Chapati</h1>
    </div>
    <div class="des">
     <p>It is a round flat unleavened bread of India that is usually made of whole wheat flour and cooked on a griddle.</p><br>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star  "></span>
     <span class="fa fa-star "></span><br>
     <h3><p style="text-align: center"> <b>5 Rs.</b> </p></h3><br>
     <a href="order.html">
     
     
    <button>Order</button>
    </a>
    </div>
    </div>
    <!--cards -->
    
    
    <div class="card">
    
    <div class="image">
       <img src="{% static 'user/images/Naaan.jpeg'%}" height="300" width="200">
    </div>
    <div class="title">
     <h1>
    Naan</h1>
    </div>
    <div class="des">
     <p> Naan has a dense chewy texture, similar to focaccia bread, and is best eaten when it is still fresh and hot.</p><br>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star  checked"></span>
     <span class="fa fa-star checked"></span><br>
     <h3><p style="text-align: center"> <b>12 Rs.</b> </p></h3><br>
     <a href="order.html">
     
     <button>Order</button>
     </a>

    </div>
    </div>
    <!--cards -->
    
    
    <div class="card">
    
    <div class="image">
       <img src="{% static 'user/images/Aloo Paratha.jpeg'%}" height="300" width="200">
    </div>
    <div class="title">
     <h1>
    Aloo Paratha</h1>
    </div>
    <div class="des">
     <p> These flavorful and delicious stuffed parathas are a staple in many North Indian households.</p><br>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star  checked"></span>
     <span class="fa fa-star checked"></span><br>
     <h3><p style="text-align: center"> <b>15 Rs.</b> </p></h3><br>
     <a href="order.html">
     
     <button>Order</button>
     </a>
    </div>
    </div>
    <!--cards -->
    
    
    <div class="card">
    
    <div class="image">
       <img src="{% static 'user/images/Amritsari Kulcha.jpeg'%}" height="300" width="200">
    </div>
    <div class="title">
     <h1>
Amritsari Kulcha</h1>
    </div>
    <div class="des">
     <p>
      Amritsari Kulcha is a popular naan bread recipe which is perfect to pair with some delicious Chole.Famous Indian Bread</p><br>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star  checked"></span>
      <span class="fa fa-star checked"></span><br>
      <h3><p style="text-align: center"> <b>20 Rs.</b> </p></h3><br>
      <a href="order.html">
      
      <button>Order</button>
      </a>
    </div>
    </div>
    <!--cards -->
    
    <div class="card">
    
    <div class="image">
       <img src="{% static 'user/images/Bhatoora.jpeg'%}" height="300" width="200">
    </div>
    <div class="title">
     <h1>
   Bhatoora</h1>
    </div>
    <div class="des">
     <p> It is a fluffy deep-fried leavened sourdough bread originating from the Indian subcontinent. It is commonly served as a midday meal.</p><br>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star  checked"></span>
     <span class="fa fa-star "></span><br>
     <h3><p style="text-align: center"> <b>7 Rs.</b> </p></h3><br>
     <a href="order.html">
    
     <button>Order</button>
     </a>
    </div>
    </div>
    <!--cards -->
    
    <div class="card">
    
    <div class="image">
       <img src="{% static 'user/images/Poooori.jpeg'%}" height="300" width="200">
    </div>
    <div class="title">
     <h1>
    Poori</h1>
    </div>
    <div class="des">
     <p>Puri is a deep-fried bread made from unleavened whole-wheat flour that originated in the Indian subcontinent. </p><br>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star  "></span>
     <span class="fa fa-star "></span><br>
     <h3><p style="text-align: center"> <b>3 Rs.</b> </p></h3><br>
     <a href="order.html">
    
     <button>Order</button>
     </a>
    
    </div>
    </div>
    <!--cards -->
    
  
    
    <div class="card">
    
    <div class="image">
       <img src="{% static 'user/images/Kulcha.jpeg'%}" height="300" width="200">
    </div>
    <div class="title">
     <h1>
    Kulcha</h1>
    </div>
    <div class="des">
     <p>Kulcha is made from maida flour, water, a pinch of salt and a leavening agent.In particular, a spicy curry like chole is the dish of choice for being eaten with kulcha.<br>
   </p>
   <span class="fa fa-star checked"></span>
   <span class="fa fa-star checked"></span>
   <span class="fa fa-star checked"></span>
   <span class="fa fa-star  checked"></span>
   <span class="fa fa-star "></span><br>
   <h3><p style="text-align: center"> <b>5 Rs.</b> </p></h3><br>
   <a href="order.html">
    
     <button>Order</button>
     </a>
    </div>
    </div>
    <!--cards -->
    
  
  </div>
{% endblock content %}
