{% extends 'user/base.html' %}
{% load static %}


{% block title %}{% endblock title %}
  
  
{% block content %}
       
    <style type="text/css"></style>

    <div class="main">
    
    
    
    
    <div class="card">
    
    <div class="image">
       <img src="{% static 'user/images/Prawns masala fry.jpeg'%}" height="300" width="200">
    </div>
    <div class="title">
     <h1>
   Prawns Masala Fry</h1>
    </div>
    <div class="des">
     <p>Prawn Masala Fry is a quick and easy recipe that is delicious, aromatic and spicy. It is best scooped up with roti or rice</p><br>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star  checked"></span>
     <span class="fa fa-star checked"></span><br>
     <h3><p style="text-align: center"> <b>150 Rs.</b> </p></h3><br>
     <a href="order.html">
    <button>Order</button>
    </a>
    </div>
    </div>
    <!--cards -->
    
    
    <div class="card">
    
    <div class="image">
       <img src="{% static 'user/images/Prawns Kadai.jpeg'%}" height="300" width="200">
    </div>
    <div class="title">
     <h1>
        Prawns Kadai</h1>
    </div>
    <div class="des">
     <p> Kadai Prawns is one of the tastiest, spicy North Indian curry dishes which we can prepare easily. Kadai prawns is flavoured with spices</p><br>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star  checked"></span>
     <span class="fa fa-star checked"></span><br>
     <h3><p style="text-align: center"> <b>160 Rs.</b> </p></h3><br>
     <a href="order.html">
    <button>Order</button>
    </a>
    </div>
    </div>
    <!--cards -->
    
    
    <div class="card">
    
    <div class="image">
       <img src="{% static 'user/images/Fish Fry Surmai.jpeg'%}" height="300" width="200">
    </div>
    <div class="title">
     <h1>
        Fish Fry Surmai</h1>
    </div>
    <div class="des">
     <p>A simple yet delicious Surmai recipe that is so quick to make. The sight of this Surmai Fry on a dining table will make you feel delighted.</p><br>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star  checked"></span>
     <span class="fa fa-star checked"></span><br>
     <h3><p style="text-align: center"> <b>500 Rs.</b> </p></h3><br>
     <a href="order.html">
    <button>Order</button>
    </a>
    </div>
    </div>
    <!--cards -->
    
    
    <div class="card">
    
    <div class="image">
       <img src="{% static 'user/images/Fish fry Pomfret.jpeg'%}" height="300" width="200">
    </div>
    <div class="title">
     <h1>
        Fish Fry Pomfret</h1>
    </div>
    <div class="des">
     <p>
      This Mangalorean Style Rava Pomfret Fish Fry is coastal India’s claim to fame. Its a crunchy fried fish recipe but there is so much more to it than what meets the eye!</p>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star  checked"></span>
      <span class="fa fa-star checked"></span><br>
      <h3><p style="text-align: center"> <b>250 Rs.</b> </p></h3><br>
      <a href="order.html">
     <button>Order</button>
     </a>
    </div>
    </div>
    <!--cards -->
    
    <div class="card">
    
    <div class="image">
       <img src="{% static 'user/images/Fish Fry Bangda.jpeg'%}" height="300" width="200">
    </div>
    <div class="title">
     <h1>
        Fish Fry Bangda</h1>
    </div>
    <div class="des">
     <p>It is cooked in home style using ginger garlic paste, curry leaves till crisp golden using heavy cast</p>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star  checked"></span>
     <span class="fa fa-star checked"></span><br>
     <h3><p style="text-align: center"> <b>275 Rs.</b> </p></h3><br>
     <a href="order.html">
    <button>Order</button>
    </a>
    </div>
    </div>
    <!--cards -->
    
    <div class="card">
    
    <div class="image">
       <img src="{% static 'user/images/Fish Curry.jpeg'%}" height="300" width="200">
    </div>
    <div class="title">
     <h1>
        Fish Curry</h1>
    </div>
    <div class="des">
     <p>It is a Goan dish. It consists of sardines semi-stewed in a Kerala-style curry with assorted vegetables.</p>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star  checked"></span>
     <span class="fa fa-star checked"></span><br>
     <h3><p style="text-align: center"> <b>190 Rs.</b> </p></h3><br>
     <a href="order.html">
    <button>Order</button>
    </a>
    </div>
    </div>
    <!--cards -->
    
    
    <div class="card">
    
    <div class="image">
       <img src="{% static 'user/images/Prawn Biryani.jpeg'%}" height="300" width="200">
    </div>
    <div class="title">
     <h1>
        Prawn Biryani</h1>
    </div>
    <div class="des">
     <p>Simply put, biryani is a spiced mix of prawns and rice, traditionally cooked over an open fire in a leather pot.</p>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star  checked"></span>
     <span class="fa fa-star checked"></span><br>
     <h3><p style="text-align: center"> <b>25 Rs.</b> </p></h3><br>
     <a href="order.html">
    <button>Order</button>
    </a>
    </div>
    </div>
    <!--cards -->

     <!--cards -->
    
     <div class="card">
    
      <div class="image">
         <img src="{% static 'user/images/Prawwns Masala.jpeg'%}" height="300" width="200">
      </div>
      <div class="title">
       <h1>
      Prawns Masala</h1>
      </div>
      <div class="des">
       <p>Prawn Masala is a quick and easy recipe that is delicious, aromatic and spicy. It is best scooped up with roti or rice</p>
        
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star  checked"></span>
        <span class="fa fa-star checked"></span><br>
        <h3><p style="text-align: center"> <b>195 Rs.</b> </p></h3><br>
        <a href="order.html">
       <button>Order</button>
       </a>
      </div>
      </div>
      <!--cards -->

  
  </div>
{% endblock content %}

    