{% extends 'user/base.html' %}
{% load static %}


{% block title %}{% endblock title %}
  
  
{% block content %}
       
<body style="background-color:grey">
   
    <style type="text/css"></style>
    

    <div class="main">
    
     <!--cards -->
    
    <div class="card">
    
    <div class="image">
       <img src="image/veg munchurian.jpg" height="300" width="200">
    </div>
    <div class="title">
     <h1>
    Veg Dry Manchurian</h1>
    </div>
    <div class="des">
     <p>This is the Indo Chinese starter dish where fried vegetable balls are coated with thick, flavorful sauce. Since this is the dry version</p>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star  checked"></span>
     <span class="fa fa-star checked"></span>
    
     <h3><p style="text-align: center"> <b>10 Rs.</b> </p></h3>
     <a href="order.html">
    <button>Order</button>
    </a>
    </div>
    </div>
    <!--cards -->
    
    
    <div class="card">
    
    <div class="image">
       <img src="image/Papdi chaat tarts.jpeg" height="300" width="200">
    </div>
    <div class="title">
     <h1>
    Papdi chaat tarts</h1>
    </div>
    <div class="des">
     <p>Chaat, just hearing the word makes your mouth water. This tangy street food is very famous all over India and loved by everyone</p>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star  checked"></span>
     <span class="fa fa-star checked"></span>
     <h3><p style="text-align: center"> <b>10 Rs.</b> </p></h3>
     <a href="order.html">
    <button>Order</button>
    </a>
    </div>
    </div>
    <!--cards -->
    
    
    <div class="card">
    
    <div class="image">
       <img src="image/Aloo nazakat.jpeg" height="300" width="200">
    </div>
    <div class="title">
     <h1>
    Paneer Bread Disc</h1>
    </div>
    <div class="des">
     <p> An eye-catching starter for any fun-filled evening. The burst of flavours and textures is thrilling.Best dish for paneer lovers</p>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star  checked"></span>
     <span class="fa fa-star checked"></span>
     <h3><p style="text-align: center"> <b>10 Rs.</b> </p></h3>
     <a href="order.html">
    <button>Order</button>
    </a>
    </div>
    </div>
    <!--cards -->
    
    
    <div class="card">
    
    <div class="image">
       <img src="image/palak tikki.jpeg" height="300" width="200">
    </div>
    <div class="title">
     <h1>
    Palak Tikki</h1>
    </div>
    <div class="des">
     <p>A delectable evening snack, that is tasty and healthy and an easy way to make the kids eat spinach and corn if they do not like it.</p>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star  checked"></span>
     <span class="fa fa-star checked"></span>  
     <h3><p style="text-align: center"> <b>10 Rs.</b> </p></h3>
     <a href="order.html">
    <button>Order</button>
    </a>
    </div>
    </div>
    <!--cards -->
    
    
    <div class="card">
    
    <div class="image">
       <img src="image/masala papad.jpg" height="300" width="200">
    </div>
    <div class="title">
     <h1>
    Masala Papad</h1>
    </div>
    <div class="des">
     <p>
      Masala Papad is a delicious Indian snack made using roasted or fried papad topped with a tangy and spicy onion tomato mix.</p>
      <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star  checked"></span>
     <span class="fa fa-star checked"></span><br>
      <h3><p style="text-align: center"> <b>10 Rs.</b> </p></h3><br>
      <a href="order.html">
     <button>Order</button>
     </a>
    </div>
    </div>
    <!--cards -->
    
    <div class="card">
    
    <div class="image">
       <img src="image/Peanut masala.jpeg" height="300" width="200">
    </div>
    <div class="title">
     <h1>
   Peanut Masala</h1>
    </div>
    <div class="des">
     <p>Peanut masala recipe is one such recipe which is a popular tea time snack common across many cuisines..</p>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star  checked"></span>
     <span class="fa fa-star checked"></span><br>
     <h3><p style="text-align: center"> <b>10 Rs.</b> </p></h3><br>
     <a href="order.html">
    <button>Order</button>
    </a>
    </div>
    </div>
    <!--cards -->
    
    <div class="card">
    
    <div class="image">
       <img src="image/masala corn.jpeg" height="300" width="200">
    </div>
    <div class="title">
     <h1>
    Masala Corn</h1>
    </div>
    <div class="des">
     <p>Masala corn is a favorite with kids and most of us.Usually during the monsoons we like to have corn chaat. It is a healthy dish </p>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star  checked"></span>
     <span class="fa fa-star checked"></span><br>
     <h3><p style="text-align: center"> <b>10 Rs.</b> </p></h3><br>
     <a href="order.html">
    <button>Order</button>
    </a>
    </div>
    </div>
    <!--cards -->
    
    
    <div class="card">
    
    <div class="image">
       <img src="image/gobi 65.jpeg" height="300" width="200">
    </div>
    <div class="title">
     <h1>
    Gobi 65</h1>
    </div>
    <div class="des">
     <p>Gobi means cauliflower. Gobi 65 is a delecious crisp fried appetizer made with cauliflower,spices,yogurt and herbs...</p>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star  checked"></span>
     <span class="fa fa-star checked"></span><br> 
     <h3><p style="text-align: center"> <b>10 Rs.</b> </p></h3><br>
     <a href="order.html">
    <button>Order</button>
    </a>
    </div>
    </div>
    <!--cards -->
    
    
    <div class="card">
    
    <div class="image">
       <img src="image/chilli potato.jpeg" height="300" width="200">
    </div>
    <div class="title">
     <h1>
    Chilli potato</h1>
    </div>
    <div class="des">
     <p>Chilli potato is a Indo chinese starter made with fried potatoes tossed in spicy, slightly sweet and sour chilli sauce..</p>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star  checked"></span>
     <span class="fa fa-star checked"></span><br> 
     <h3><p style="text-align: center"> <b>10 Rs.</b> </p></h3><br>
     <a href="order.html">
    <button>Order</button>
    </a>
    </div>
    </div>
    <!--cards -->
    
    
    
      
    
       <!--cards -->
    
    
    <div class="card">
    
      <div class="image">
         <img src="image/gobi manchurian.jpeg" height="300" width="200">
      </div>
      <div class="title">
       <h1>
      Gobi Manchurian</h1>
      </div>
      <div class="des">
       <p>It is made with spring onions,capsicum,green chillies, ginger and garlic in a mix of soy sauce, tomato ketchup and chilli sauce.</p>
       <span class="fa fa-star checked"></span>
       <span class="fa fa-star checked"></span>
       <span class="fa fa-star checked"></span>
       <span class="fa fa-star  checked"></span>
       <span class="fa fa-star checked"></span><br>
       <h3><p style="text-align: center"> <b>10 Rs.</b> </p></h3><br>
       <a href="order.html">
      <button>Order</button>
      </a>
      </div>
      </div>
      <!--cards -->
    
       <!--cards -->
    
    
    <div class="card">
    
      <div class="image">
         <img src="image/Aloo Tikki.jpeg" height="300" width="200">
      </div>
      <div class="title">
       <h1>
      Aloo Tikki</h1>
      </div>
      <div class="des">
       <p>Aloo tikki is a golden fried-potato patty that is often stuffed with peas or dal and served with a variety of spicy chutneys</p>
       <span class="fa fa-star checked"></span>
       <span class="fa fa-star checked"></span>
       <span class="fa fa-star checked"></span>
       <span class="fa fa-star  checked"></span>
       <span class="fa fa-star checked"></span><br>
       <h3><p style="text-align: center"> <b>10 Rs.</b> </p></h3><br>
     <a href="order.html">
    <button>Order</button>
    </a>
      </div>
      </div>
      <!--cards -->
        <!--cards -->
    
    
    <div class="card">
    
      <div class="image">
         <img src="image/mix veg pakoda.jpeg" height="300" width="200">
      </div>
      <div class="title">
       <h1>
      Mix Veg Pakoda</h1>
      </div>
      <div class="des">
       <p>this veg pakora has a crispy, crunchy exterior with a soft interior. The recipe is naturally vegan and can be made gluten-free..</p>
       <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star  checked"></span>
     <span class="fa fa-star checked"></span><br>
       <h3><p style="text-align: center"> <b>10 Rs.</b> </p></h3><br>
     <a href="order.html">
    <button>Order</button>
    </a>
      </div>
      </div>
      <!--cards -->
      
        <!--cards -->
    
    
    <div class="card">
    
      <div class="image">
         <img src="image/Onionpakoda.jpeg" height="300" width="200">
      </div>
      <div class="title">
       <h1>
      Onion Pakoda</h1>
      </div>
      <div class="des">
       <p>basically a fried snack or deep fried onion fritters prepared with chickpea and rice flour coating with other spices. pakora recipe is a common snack recipe prepared across all states of india and is typically known with local names</p>
       <span class="fa fa-star checked"></span>
       <span class="fa fa-star checked"></span>
       <span class="fa fa-star checked"></span>
       <span class="fa fa-star  checked"></span>
       <span class="fa fa-star checked"></span><br>
       <h3><p style="text-align: center"> <b>10 Rs.</b> </p></h3><br>
       <a href="order.html">
      <button>Order</button>
      </a>
      </div>
      </div>
      <!--cards -->

           <!--cards -->
    
    
    <div class="card">
    
      <div class="image">
         <img src="image/kothimbirvadi.jpeg" height="300" width="200">
      </div>
      <div class="title">
       <h1>
      Kothimbir Vadi</h1>
      </div>
      <div class="des">
       <p>Kothimbir vadi is a delicious savory crisp snack from the Maharashtrian cuisine made with gram flour (besan), coriander leaves, peanut, sesame seeds and spices. They are a popular tea time snack loaded with coriander leaves</p>
       <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star  checked"></span>
     <span class="fa fa-star checked"></span><br>
       <h3><p style="text-align: center"> <b>10 Rs.</b> </p></h3><br>
     <a href="order.html">
    <button>Order</button>
    </a>
      </div>
      </div>
      <!--cards -->
       <!--cards -->
    
    
    <div class="card">
    
      <div class="image">
         <img src="image/Achari aloo tikka.jpg" height="300" width="200" >
      </div>
      <div class="title">
       <h1>
     Achari Aloo Tkka</h1>
      </div>
      <div class="des">
       <p>This Achari Aloo Tikka has the word “drool” written all over it. Baby potatoes marinated generously in pickling spices and cooked to perfection. This Indian tandoori appetizer is made at home without a tandoor</p>
       <span class="fa fa-star checked"></span>
       <span class="fa fa-star checked"></span>
       <span class="fa fa-star checked"></span>
       <span class="fa fa-star  checked"></span>
       <span class="fa fa-star checked"></span><br> 
       <h3><p style="text-align: center"> <b>10 Rs.</b> </p></h3><br>
       <a href="order.html">
      <button>Order</button>
      </a>
      </div>
      </div>
      <!--cards -->
   
  </div>
{% endblock content %}
