{% extends 'user/base.html' %}
{% load static %}


{% block title %}{% endblock title %}
  
  
{% block content %}
       
    <style type="text/css"></style>

    <div class="main">
      <h3><p style="text-align: center"> <b>VEGETARIAN DISHES</b> </p></h3>
    
     <!--cards -->
    
    <div class="card">
    
    <div class="image">
       <img src="image/Chana Masala.jpeg" height="300" width="200">
    </div>
    <div class="title">
     <h1>
        Chana Masala</h1>
    </div>
    <div class="des">
       <p>This Chana Masala, is an authentic North Indian style curry made with white chickpeas, freshly powdered spices, onions, tomatoes and herbs.</p>
     
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star  checked"></span>
      <span class="fa fa-star "></span><br>
      <h3><p style="text-align: center"> <b>100 Rs.</b> </p></h3><br>
      <a href="order.html">
      
    <button>Order</button>
    </a>
    </div>
    </div>
    <!--cards -->
    
    
    <div class="card">
    
    <div class="image">
       <img src="image/Aloo mutter.jpeg" height="300" width="200">
    </div>
    <div class="title">
     <h1>
    Aloo Mutter</h1>
    </div>
    <div class="des">
       <p>Aloo and matar join forces in this delightfully saucy curry.Aloo Matar is one of the most comforting and beloved Punjabi curries around.</p>
     
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star  "></span>
     <span class="fa fa-star "></span><br>
     <h3><p style="text-align: center"> <b>70 Rs.</b> </p></h3><br>
     <a href="order.html">
     
    <button>Order</button>
    </a>
    </div>
    </div>
    <!--cards -->
      <!--cards -->
    
    
      <div class="card">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   
           <div class="image">
              <img src="image/Green Pease masala.jpeg" height="300" width="200">
           </div>
           <div class="title">
            <h1>
               Green Pease masala</h1>
           </div>
           <div class="des">
              <p> Green Peas Masala is a delicious side dish which can be paired with any kind of Indian bread as well as jeera rice.The texture of the gravy is creamy, silky and smooth.</p>
         
         
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star "></span>
            <span class="fa fa-star"></span><br><br>
            <h3><p style="text-align: center"> <b>60 Rs.</b> </p></h3>
           <a href="order.html">
           
            <button>Order</button>
            </a>
           </div>
           </div>
           <!--cards -->
    
    
   
    
    
    <div class="card">
    
    <div class="image">
       <img src="image/Mutter Paneer.jpeg" height="300" width="200">
    </div>
    <div class="title">
     <h1>
    Mutter Paneer</h1>
    </div>
    <div class="des">
       <p>a popular Indian Curry dish made with green peas and Indian cottage cheese, is from the versatile Northern Indian cuisine that has many different variations</p>
    
     <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star  checked"></span>
            <span class="fa fa-star "></span><br>
            <h3><p style="text-align: center"> <b>80 Rs.</b> </p></h3><br>
     <a href="order.html">
   
     <button>Order</button>
    </div>
    </div>
    <!--cards -->
    
    
    
    <div class="card">
    
    <div class="image">
       <img src="image/paneer bhurji.jpg" height="300" width="200">
    </div>
    <div class="title">
     <h1>
Paneer Bhurji</h1>
    </div>
    <div class="des">
      <p>Paneer Bhurji is a popular and delicious North Indian breakfast recipe made from crumbled paneer (Indian Cottage Cheese).</p>
     
      <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star  checked"></span>
            <span class="fa fa-star"></span><br>
            <h3><p style="text-align: center"> <b>75 Rs.</b> </p></h3><br>
      <a href="order.html">
      
      <button>Order</button>
      </a>
    </div>
    </div>
    <!--cards -->
    
    <div class="card">
    
    <div class="image">
       <img src="image/Palak Paneer.jpeg" height="300" width="200">
    </div>
    <div class="title">
     <h1>
        Palak Paneer</h1>
    </div>
    <div class="des">
       <p>Palak Paneer is one of the most popular Indian dish made with succulent paneer cubes in a smooth spinach sauce.</p>
     
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star  checked"></span>
      <span class="fa fa-star checked"></span><br>
      <h3><p style="text-align: center"> <b>150 Rs.</b> </p></h3><br>
     <a href="order.html">
     <button>Order</button>
     </a>
    </div>
    </div>
    <!--cards -->
    
    <div class="card">
    
    <div class="image">
       <img src="image/Dal fry.jpeg" height="300" width="200">
    </div>
    <div class="title">
     <h1>
        Dal fry</h1>
    </div>
    <div class="des">
       <p>Dal Tadka is a popular Indian lentil dish made with arhar dal (husked & split pigeon pea lentils) or masoor dal (husked & split red lentils).</p>

      </p>
     
     <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star  checked"></span>
            <span class="fa fa-star "></span><br>
            <h3><p style="text-align: center"> <b>100 Rs.</b> </p></h3><br>
     <a href="order.html">
     <button>Order</button>
     </a>
    
    </div>
    </div>
    <!--cards -->
    
    
     <!--cards -->
    
    
     <div class="card">
    
        <div class="image">
           <img src="image/Aloo Gobi.jpeg" height="300" width="200">
        </div>
        <div class="title">
         <h1>
            Aloo Gobi</h1>
        </div>
        <div class="des"> 
           <p>Spiced Potatoes with Cauliflower. This Aloo Gobi is packed with flavors, super comforting, vegan and simply the best aloo gobi you will ever have!</p>
         <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star  checked"></span>
            <span class="fa fa-star "></span><br>
            <h3><p style="text-align: center"> <b>80 Rs.</b> </p></h3><br>
         <a href="order.html">
         <button>Order</button>
         </a>
        </div>
        </div>
        <!--cards -->
       
         <!--cards -->
         <div class="card">
    
            <div class="image">
               <img src="image/Paneer Makhanwala.jpeg" height="300" width="200">
            </div>
            <div class="title">
             <h1>
                Paneer Makhanwala
            </h1>
            </div>
            <div class="des">
               <p>Cottage cheese in a buttery, creamy, tangy and mildly sweet sauce. </p>
             
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star  checked"></span>
             <span class="fa fa-star checked"></span><br>
             <h3><p style="text-align: center"> <b>100 Rs.</b> </p></h3><br>
             <a href="order.html">
             
             <button>Order</button>
             </a>
            </div>
            </div>
            <!--cards -->
    
    
  </div>
{% endblock content %}
