{% extends 'user/base.html' %}
{% load static %}


{% block title %}{% endblock title %}
  
  
{% block content %}
       
    <style type="text/css"></style>

    <div class="card">
    
      <div class="image">
         <img src="{% static 'user/images/lemon coriander soup.jpeg'%}" height="300" width="200">
      </div>
      <div class="title">
       <h1>
          Lemon coriander soup</h1>
      </div>
      <div class="des">
       <p> an easy and healthy filling soup recipe made with veg stock. on top of the vegetables and veggie stock, it also contains a strong flavour of lemon and coriander in each sip. it is generally served as an appetizer or as a starter.</p><br>
       <span class="fa fa-star checked"></span>
       <span class="fa fa-star checked"></span>
       <span class="fa fa-star checked"></span>
       <span class="fa fa-star"></span>
       <span class="fa fa-star"></span><br><br>
            <h3><p style="text-align: center"> <b>100 Rs.</b> </p></h3>
       <a href="order.html">
       <button>Order</button>
       </a>
      
      </div>
      </div>
      <!--cards -->
    
    
    
    <div class="card">
    
    <div class="image">
       <img src="{% static 'user/images/Manchow soup.jpeg'%}" height="300" width="200">
    </div>
    <div class="title">
     <h1>
        Manchow soup</h1>
    </div>
    <div class="des">
     <p> It is a dark brown soup prepared with various vegetables, scallions, and chicken, thickened with broth and corn flour, and flavored with generous doses of soy sauce, salt, garlic, chili peppers and, predominantly, ginger.</p><br>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star"></span>
     <span class="fa fa-star"></span><br><br>
          <h3><p style="text-align: center"> <b>100 Rs.</b> </p></h3>
     <a href="order.html">

    <button>Order</button>
    </a>
    </div>
    </div>
    <!--cards -->
    
    
    <div class="card">
    
    <div class="image">
       <img src="{% static 'user/images/Frshtomatosoup.jpeg'%}" height="300" width="200">
    </div>
    <div class="title">
     <h1>
    Fresh Tomato soup</h1>
    </div>
    <div class="des">
     <p> This easy Tomato Soup recipe makes a creamy, rich tomato soup that’s perfect for enjoying as a hearty lunch or light dinner. Zesty fresh tomatoes and real cream create a truly comforting, velvety smooth tomato soup from scratch</p><br>
    
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star"></span>
     <span class="fa fa-star"></span><br><br>
          <h3><p style="text-align: center"> <b>60 Rs.</b> </p></h3>
     <a href="order.html">
     <button>Order</button>
     </a>
    </div>
    </div>
    <!--cards -->
    
    
    <div class="card">
    
    <div class="image">
       <img src="{% static 'user/images/Mushroom soup.jpeg'%}" height="300" width="200">
    </div>
    <div class="title">
     <h1>
        Mushroom soup</h1>
    </div>
    <div class="des">
     <p>In the traditional method, a roux (flour and butter cooked together) is made first and then milk, water or vegetable stock or mushroom stock are poured in. Later sautéed or cooked mushrooms are tipped in. Finally, cream is added.</p><br>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star"></span>
     <span class="fa fa-star"></span><br><br>
          <h3><p style="text-align: center"> <b>115Rs.</b> </p></h3>
     <a href="order.html">
     <button>Order</button>
     </a>
    </div>
    </div>
    <!--cards -->
    
    
   
    <div class="main">
    
      <!--cards -->
     
     <div class="card">
     
     <div class="image">
        <img src="{% static 'user/images/sweet corn soup.jpeg'%}" height="300" width="200">
     </div>
     <div class="title">
      <h1>
     Sweet Corn Soup</h1>
     </div>
     <div class="des">
      <p>Sweet Corn soup made with tender corn kernels, spcies and herbs.Serve it any time of the day, for a simple meal.</p><br>
      <!-- Add icon library -->
 
 <span class="fa fa-star checked"></span>
 <span class="fa fa-star checked"></span>
 <span class="fa fa-star checked"></span>
 <span class="fa fa-star"></span>
 <span class="fa fa-star"></span><br><br>
      <h3><p style="text-align: center" style="color:white"> <b>65 Rs.</b> </p></h3>
     <a href="order.html">
     <button>Order</button>
     </a>
     </div>
     </div>
     <!--cards -->
     
      <div class="card">
    
    <div class="image">
       <img src="{% static 'user/images/Palak Soup.jpeg'%}" height="300" width="200">
    </div>
    <div class="title">
     <h1>
        Palak Soup</h1>
    </div>
    <div class="des">
     <p>
      spinach soup is a healthy one pot liquid meal prepared with palak leaves milk and other spices.</p><br>
      <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star"></span>
     <span class="fa fa-star"></span><br><br>
          <h3><p style="text-align: center"> <b>75Rs.</b> </p></h3>
     <a href="order.html">
      <button>Order</button>
      </a>
    </div>
    </div>
    <!--cards -->
    
    <div class="card">
    
    <div class="image">
       <img src="{% static 'user/images/Veg noodles soup.jpeg'%}" height="300" width="200">
    </div>
    <div class="title">
     <h1>
        Veg noodles soup</h1>
    </div>
    <div class="des">
     <p>The soup is made with mix veggies and noodles.The taste of the noodle soup is faintly sour.</p><br>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star"></span>
     <span class="fa fa-star"></span><br><br>
          <h3><p style="text-align: center"> <b>105 Rs.</b> </p></h3>
     <a href="order.html">
     <button>Order</button>
     </a>
    </div>
    </div>
    <!--cards -->
    
    

    <!--cards -->
    
    <div class="card">
    
      <div class="image">
         <img src="{% static 'user/images/vegsoup.jpeg'%}" height="300" width="200">
      </div>
      <div class="title">
       <h1>
          Veg soup</h1>
      </div>
      <div class="des">
       <p> A Vegetable Soup recipe is so healthy.Vegetable soup loaded with mixed veggies and high on flavors</p><br>
       <span class="fa fa-star checked"></span>
       <span class="fa fa-star checked"></span>
       <span class="fa fa-star checked"></span>
       <span class="fa fa-star"></span>
       <span class="fa fa-star"></span><br><br>
            <h3><p style="text-align: center"> <b>60 Rs.</b> </p></h3>
       <a href="order.html">
       <button>Order</button>
       </a>
      
      </div>
      </div>
      <!--cards -->

  </div>
{% endblock content %}
